
<h1> Personnages </h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Nom</th>
      <th>Points de vie</th>
      <th>Points attaque</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @personnages.each do |personnage| %>
      <tr>

         <td><%= link_to  personnage.Nom , personnage %>
                  </td>
        <!-- <td><%= personnage.Nom %></td> -->
        <td><%= personnage.Points_de_vie %></td>
        <td><%= personnage.Points_attaque %></td>
       <td><%= link_to 'Supprimer',  personnage, method: :delete, data: { confirm: 'Are you sure?'},class:"btn btn-outline-danger btn-sm"  %></td>
      </tr>
    <% end %>


  </tbody>
</table>

